.columns {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    gap: 5px;
  }
  
  .column {
    width: 20px;
    border-radius: 5px 5px 0 0;

    background-color: var(--column-color);
  }

  .price {
    position: relative;
    bottom: 20px;
    text-align: center;


    z-index: 11;
  }
