
.dateaxis {
    display: grid;
    grid-template-rows: 0.1fr 0.9fr;
}

.hours {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    justify-items: center;
    column-gap: 5px;
    
}

.dates {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    justify-items: center;
    column-gap: 5px;
    margin-bottom: 1%;
    margin-top: 2px;
    
}

.date {
    transform: rotate(45deg);
}

.horizontalline {
    background-color: black;
    height: 2px;
}