.graph {
    display: grid;
    outline: 3px solid black;
    margin: 5%;
    grid-template-columns: 1fr 90fr;
    grid-template-rows: 90fr 1fr 1fr;
    overflow: scroll;
    overflow-y: hidden;
    height: 75vh;

    color: var(--text-color);
    background-color: var(--graph-bg-color);
    
    z-index: 10;
  }

.info {
    position: sticky;
    left: 0;
    text-align: end;

    background-color: var(--graph-info-color);

    z-index: 12;
  }

  #day {
    margin-top: 5%;
}
