.priceaxis {
    display: grid;
    row-gap: 10%;
    grid-template-columns: 1fr 1fr 1fr;
    position: sticky;
    left: 0px;
    justify-self: end;
    justify-items: end;

    background-color: var(--graph-info-color);

    z-index: 12;
}

.numbers {
    display: grid;
}

.priceinfo {
    align-self: center;
    transform: rotate(70deg);
}

.verticalline {
    background-color: black;
    width: 2px;
}